<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div id="address" class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, id: "address_c"  %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In" %>
  </div>
<% end %>

<button id="address_b">I see you</button>


<script type="text/javascript">
var x = document.getElementById("address_c");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.value = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    x.value = "latitude: " + position.coords.latitude + " longitude: " + position.coords.longitude;
}

getLocation();
</script>

<script type="text/javascript" charset="utf-8">
  $("#address_b").on ("click", function(event){
    
    $.ajax({
      url: '<%= users_find_path %>',
      type: 'GET',
      dataType: 'script',
      data: {latitude: location.latitude, longitude: location.longitude},
    })
    .done(function() {
      console.log("success");
    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });
    

  });
</script>
<%= render "devise/shared/links" %>
