<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div id="address" class="field">
    <%= f.label :address %><br />
    <%= f.text_field :address, id: "address_c"  %>
    <%= f.hidden_field :latitude, id: "address_lat"  %>
    <%= f.hidden_field :longitude, id: "address_lng"  %>
  </div>

  <div class="actions">
    <%= f.submit "Sign In", id: "submit" %>
  </div>
<% end %>

<button id="address_b">I see you</button>


<script type="text/javascript">
var x = document.getElementById("address_c");
function getLocation() {
    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        x.value = "Geolocation is not supported by this browser.";
    }
}
function showPosition(position) {
    x.value = position.coords.latitude + " , " + position.coords.longitude;
}

getLocation();
</script>



<script>
var a = document.getElementById("address_c");
var b = document.getElementById("address_lat");
var c = document.getElementById("address_lng");

$("#submit").on ("click", function(event){ 
  var array = a.split(',');
    if (typeof array !== 'undefined'){
      var lat =  array[0];
      var lng = array[1];
      b.value = lat;
      c.value = lng;
    }
  });

</script>

<script type="text/javascript" charset="utf-8">
  $("#address_b").on ("click", function(event){
    
    $.ajax({
      url: '<%= users_find_path %>',
      type: 'GET',
      dataType: 'script',
      data: {},
    })
    .done(function() {
      console.log("success");
    })
    .fail(function() {
      console.log("error");
    })
    .always(function() {
      console.log("complete");
    });
    

  });




  
</script>
<%= render "devise/shared/links" %>
